.wrapper {
  max-width: 650px;
  /* background: url("../../images/chuck-left.png") no-repeat,
    url("../../images/chuck-right.png") no-repeat;
  background-size: 40% auto, 40% auto;
  background-position-y: bottom; */
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}
